@{
    ViewData["Title"] = "Home Page";
}


@*@section Head{
    <meta name="description" content="Portfolio webpage for CFO, Bill Gillmour" />
    <meta property="og:title" content="Bill Gillmour - CFO" />
    <meta property="og:description" content="Portfolio webpage for CFO, Bill Gillmour" />
    <meta property="og:url" content="" />
    <link rel="canonical" href="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content="" />

    <meta property="og:local" content="en_us" />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary_large_image" />
}*@

@section Header{
 @*   <section role="banner" class="hero-banner">
        <div class="hero">

            <div class="hero-section">
                <h1>Take control of your finances.</h1>
                <div class="cta-button">

                    <a class="btn btn-lg" asp-area="" asp-controller="Home" asp-action="Contact">Contact Me</a>
                </div>

            </div>
        </div>
    </section>*@
    <section role="banner" class="banner-container">
      
            <div class="hero-content">
            <h1>We specialize in providing tailored solutions and support specifically designed to assist business owners in smoothly selling their enterprises to us.</h1>
            <p>Integrity and dedication form the cornerstone of what we do.</p>
            </div>
      

    </section>
}


<section role="textbox" class="wrap-color">
    <div class="content-wrap-1">
    <h2>What we strive for</h2>
        <p>"To fuel growth, uphold integrity, and create value, we utilize our expertise in acquiring businesses, fostering collaboration, and driving innovation."</p>
    </div>
</section>

<section role="article">
 
    <div class="row r-1">
        <div class="col-12 col-md-6 col-img">
     
        </div>
        <div class="col-12 col-md-4">
            <div class="service-content">
            
                    <h3>A service</h3>
        
           
                <ul>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                        </p>
                    </li>
                </ul>
               
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-img">
        </div>
        <div class="col-12 col-md-4 col-color">
            <div class="service-content">

                <h3>A service</h3>


                <ul>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                        </p>
                    </li>
                </ul>

            </div>
        </div>

    </div>
    <div class="row r-1">
        <div class="col-12 col-md-6 col-img">
        </div>
        <div class="col-12 col-md-4">
            <div class="service-content">

                <h3>A service</h3>


                <ul>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                        </p>
                    </li>
                    <li>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi pariatur labore
                            iure voluptatum explicabo laudantium aspernatur sit saepe. Iusto, dignissimos?
                            Assumenda numquam odio non ullam! Soluta hic accusantium reprehenderit possimus.
                        </p>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</section>


